<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <!-- add in a header partial - using relative path -->
    <%- include('./partials/header.ejs') %> 

    <p>This is your rand num <%= randoNumbo %>  </p>

    <% if (randoNumbo % 2 === 0){ %> 
        <p>This is an even numbo</p>
    <% }else{ %> 
        <p>This is an odd numbo</p>
    <% } %> 

    <p>This is an <%= randoNumbo % 2 ===0 ? 'even' : 'odd' %> numo</p>

    <% for ( let i = 0; i < randoNumbo; i++){ %>
        <span><%= i + 1 %></span>
    <% } %> 

    <!-- <% someArray.forEach(element => {
        
        <p> <%= element.name %> </p>

    <% }) %>  -->

</body>
</html>